# Logs
logs
*.log
npm-debug.log*

# Diretório do sistema operacional
.DS_Store

# Node modules
node_modules/

# Variáveis de ambiente
.env

# Build do React
frontend/build

# Cache do IDE
.idea/
.vscode/
